
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.parent{
    min-height: 500px;
    width: 800px;
     background-color: rgb(20, 19, 19);
     margin: auto;
     margin-top: 5vh;
     position: relative;
}
.orangebox{
    width: 45%;
    height: 100%;
    background-color: orangered;
     border-radius: 0 55% 55% 0;
     display: inline-block;
     position: absolute;
    top: 0; 
}
.orangebox img{
    width: 400px;
    margin-left: -10px;
    position: relative;
    right: 0;
    margin-bottom: -45px;
    
}

.grybox{
    width: 54%;
    height: 100%;
     display: inline-block;
     position: absolute;
     right: 0;

}

.iconbox {
    display: inline-block;
    padding-top: 24px;
}


.iconbox h3 {
    display: inline-block;
    margin: 0;
    color: orangered;
    width: 160px;
}

.iconbox {
    display: inline-block;
}

.iconbox i {
    font-size: 18px;
    margin-left: 20px;
    color: white;
}

.iconbox h3,
.iconbox i {
    display: inline-block;
}

.cart {
    position: relative;
    display: inline-block;
}

.para {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: orangered;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    margin: 0;
}

.parasbox{
    margin-top: 20%;

}
.laptophead{
font-size: 18px;
color: rgb(142, 142, 142);
margin-left: 20px;
}
.parasbox h1{
    margin-top: 20px;
    color: white;
    margin-left: 18px;
}

.blockspan{
    display: inline-block;
   margin-left: 26px;
    
}


.head04{
    display: inline-block;
    color: white;
    margin-right: 28px;
}

.head{
    margin-top: 20px;
}
.through{
    text-decoration: line-through;
    color: gray;
}

.rambox > h5{
    display: inline-block;
    color: white;
    margin-top: 25PX;
    margin-left: 30px;
}
.littleorangebox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orangered;
    margin-left: 45px;
    margin-bottom: -5px;
    color: white;
     text-align: center;
    line-height: 19px;
    font-size: 15px;

}
.littleorangebox:hover{
    border: 2px solid orangered;
}

.head06{
    display: inline-block;
    color: rgb(135, 135, 135);
    margin-left: 12px;
    font-size: 12px;
   

}
.dark{
    background-color: rgb(55, 55, 55);
    margin-left: 29px;
}
.white{
    background-color: aliceblue;
}
.blue{
    background-color: blue;
    margin-left: 29px;
}

.twoiconbox{
    display: inline-block;
    margin-top: 25%;
    color: white;
    margin-left: 20%;
}
.twoiconbox:hover{
    color: orangered;
}
i:hover{
 color: orangered;
}
.bag{
    display: inline-block;


}

.buyblock{
 display: inline-block;

}

/*=============================== MEDIA QURIES ================================ */

@media (max-width:810px){
   .parasbox{
    width: 90%;
   }
.orangebox img {
        width: 80%;
        
       
    }
.orangebox,.grybox{
    position: static;
    width: 100%;
    display: block;
}
.orangebox{
    border-radius: 0 0 50% 50%;
}
}
@media (max-width: 810px) {
    .parent{
        width: 95%;
    }
    
}

@media (max-width: 416px){
    .iconbox{
    
        padding-left: 5px;
        margin-left: 10px;
    }
    .iconbox i{
        margin-left: 7px;
    }
    
}
@media (max-width: 373px){

}
@media (max-width: 416px) {
 .orangebox img{
    max-width: 240px;
    
 }

}


