*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.parent{
    height: 500px;
    width: 800px;
     background-color: rgb(60, 59, 59);
     margin: auto;
     margin-top: 5vh;
     position: relative;
}
.orangebox{
    width: 45%;
    height: 100%;
    background-color: orangered;
     border-radius: 0 55% 55% 0;
     display: inline-block;
     position: absolute;
    top: 0; 
}
.orangebox img{
    width: 400px;
    margin-left: -10px;
    position: relative;
    right: 0;
    margin-bottom: -45px;
    
}

.grybox{
    width: 54%;
    height: 100%;
     display: inline-block;
     position: absolute;
     right: 0;

}

.iconbox {
    display: inline-block;
    padding-top: 15px;
}

.iconbox h3 {
    display: inline-block;
    margin: 0;
    color: orangered;
    width: 160px;
}

.iconbox {
    display: inline-block;
}

.iconbox i {
    font-size: 18px;
    margin-left: 20px;
    color: white;
}

.iconbox h3,
.iconbox i {
    display: inline-block;
}

.cart {
    position: relative;
    display: inline-block;
}

.para {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: orangered;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    margin: 0;
}



.boderparent {
    text-align: center;
}

.border-p {
    width: 55px;
    display: inline-block;
    border-bottom: 2px solid rgb(189, 189, 189);
    margin-left: 14px;
}


